In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

In [2]:
data=pd.read_excel("C:\\Users\\Harshit Paliwal\\Desktop\\Spring 21\\Data Science Practicum\\scoretest_original.xlsx")
ext_data=pd.read_csv("C:\\Users\\Harshit Paliwal\\Desktop\\Spring 21\\Data Science Practicum\\extended_data.csv")

C:\Users\Harshit Paliwal\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (24,33,46) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head(5)

,ID1,comp,linknumber,casenumber,dateplaced,originalbal,currentbal,acPIF,dofb,homephone,...,zip,SSN,TotNetBal,payment,usrid,flg1,flg2,flg3,totpayment,paydate
0,1170203004,1,170203004,170203004,20170120,1058.01,1058.01,0,19740331,0,...,660613138,1.0,1058.01,0.0,1,NaN,NaN,NaN,0.0,0
1,1170203007,1,170203007,170203007,20170120,71.40,71.40,0,19771011,0,...,640151575,NaN,71.40,0.0,1,NaN,NaN,NaN,0.0,0
2,1170203008,1,180300138,170203008,20170120,928.86,928.86,0,19571003,0,...,640122810,NaN,928.86,0.0,1,NaN,NaN,NaN,0.0,0
3,1170203010,1,170203010,170203010,20170120,442.00,442.00,0,19700801,0,...,641274538,NaN,442.00,0.0,1,NaN,NaN,NaN,0.0,0
4,1170203011,1,170203011,170203011,20170120,1110.00,1110.00,0,19930531,0,...,64130,NaN,1110.00,0.0,1,NaN,NaN,NaN,0.0,0

In [4]:
ext_data.head(5)

,ID1,comp,linknumber,casenumber,dateplaced,originalbal,currentbal,acPIF,dofb,homephone,...,T#PIF,TPlAct,TPyAct,HasHom,HasWrk,HasCel,HasOth,HasEml,RLTrn,OLTrn
0,1192001170,1,200570567,192001170,20190719,148.60,148.60,0,19540916,9137966995,...,,1931.8,,0,0,0,0,0,03/20/19,99/99/99
1,1192001171,1,192001171,192001171,20190719,27.36,27.36,0,19921217,0,...,,54.72,,0,0,0,0,0,01/31/19,99/99/99
2,1192001172,1,200910763,192001172,20190719,444.45,444.45,0,19760623,0,...,,888.9,,0,0,0,0,0,04/16/19,99/99/99
3,1192001173,1,192001173,192001173,20190719,155.00,155.00,0,0,0,...,,155,,0,0,0,0,0,02/14/19,99/99/99
4,1192001174,1,192420430,192001174,20190719,43.00,43.00,0,19940910,7853378968,...,,215,,1,0,0,0,0,01/15/19,99/99/99

In [5]:
# shape and data types of the data
print(data.shape)
print(data.dtypes)
data.columns = data.columns.str.replace(' ', '') 
data_numeric = data.select_dtypes(include=[np.number])
numeric_cols = data_numeric.columns.values
print(numeric_cols)
data['payment']=data['payment'].replace(.00,0)
data['totpayment']=data['totpayment'].replace(.00,0)

(254063, 43)
ID1                 int64
comp                int64
 linknumber         int64
 casenumber         int64
 dateplaced         int64
 originalbal      float64
 currentbal       float64
 acPIF              int64
 dofb               int64
 homephone          int64
 workphone          int64
 accountcat         int64
 nocontacts         int64
 cosigner           int64
 insurance          int64
 zipcode            int64
 lastpayment        int64
 servicedate        int64
 clnt               int64
 groupcode          int64
 score1             int64
 score2             int64
score3              int64
 pattype          float64
 fintype           object
 priorinspaymt      int64
 priorpatpaymt      int64
 recovperc          int64
 lastname         float64
 firstname        float64
 add1              object
city               object
state              object
zip                object
 SSN              float64
 TotNetBal        float64
 payment          float64
usrid               int64
flg1              float64
flg2              float64
flg3              float64
totpayment        float64
paydate             int64
dtype: object
['ID1' 'comp' 'linknumber' 'casenumber' 'dateplaced' 'originalbal'
 'currentbal' 'acPIF' 'dofb' 'homephone' 'workphone' 'accountcat'
 'nocontacts' 'cosigner' 'insurance' 'zipcode' 'lastpayment' 'servicedate'
 'clnt' 'groupcode' 'score1' 'score2' 'score3' 'pattype' 'priorinspaymt'
 'priorpatpaymt' 'recovperc' 'lastname' 'firstname' 'SSN' 'TotNetBal'
 'payment' 'usrid' 'flg1' 'flg2' 'flg3' 'totpayment' 'paydate']

In [61]:
print(ext_data.shape)
print(ext_data.dtypes)
ext_data.columns = ext_data.columns.str.replace(' ', '')
ext_data_numeric = ext_data.select_dtypes(include=[np.number])
ext_numeric_cols = ext_data_numeric.columns.values
print(ext_numeric_cols)

(408400, 55)
ID1                int64
comp               int64
linknumber         int64
casenumber         int64
dateplaced         int64
originalbal      float64
currentbal       float64
acPIF              int64
dofb               int64
homephone          int64
workphone          int64
accountcat         int64
nocontacts         int64
cosigner           int64
insurance          int64
zipcode            int64
lastpayment        int64
servicedate        int64
clnt               int64
groupcode          int64
score1             int64
score2             int64
score3             int64
pattype          float64
fintype           object
priorinspaymt      int64
priorpatpaymt      int64
recovperc          int64
lastname         float64
firstname        float64
add1              object
city              object
state             object
zip               object
SSN              float64
TotNetBal        float64
payment          float64
usrid              int64
flg1             float64
flg2             float64
flg3             float64
totpayment       float64
paydate            int64
T#Linked           int64
T#Open            object
T#PIF             object
TPlAct            object
TPyAct            object
HasHom             int64
HasWrk             int64
HasCel             int64
HasOth             int64
HasEml             int64
RLTrn             object
OLTrn             object
dtype: object
['ID1' 'comp' 'linknumber' 'casenumber' 'dateplaced' 'originalbal'
 'currentbal' 'acPIF' 'dofb' 'homephone' 'workphone' 'accountcat'
 'nocontacts' 'cosigner' 'insurance' 'zipcode' 'lastpayment' 'servicedate'
 'clnt' 'groupcode' 'score1' 'score2' 'score3' 'pattype' 'priorinspaymt'
 'priorpatpaymt' 'recovperc' 'lastname' 'firstname' 'SSN' 'TotNetBal'
 'payment' 'usrid' 'flg1' 'flg2' 'flg3' 'totpayment' 'paydate' 'T#Linked'
 'HasHom' 'HasWrk' 'HasCel' 'HasOth' 'HasEml']

In [7]:
for col in data.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

ID1 - 0.0%
comp - 0.0%
linknumber - 0.0%
casenumber - 0.0%
dateplaced - 0.0%
originalbal - 0.0%
currentbal - 0.0%
acPIF - 0.0%
dofb - 0.0%
homephone - 0.0%
workphone - 0.0%
accountcat - 0.0%
nocontacts - 0.0%
cosigner - 0.0%
insurance - 0.0%
zipcode - 0.0%
lastpayment - 0.0%
servicedate - 0.0%
clnt - 0.0%
groupcode - 0.0%
score1 - 0.0%
score2 - 0.0%
score3 - 0.0%
pattype - 100.0%
fintype - 100.0%
priorinspaymt - 0.0%
priorpatpaymt - 0.0%
recovperc - 0.0%
lastname - 100.0%
firstname - 100.0%
add1 - 0.0%
city - 0.0%
state - 0.0%
zip - 0.0%
SSN - 16.0%
TotNetBal - 0.0%
payment - 0.0%
usrid - 0.0%
flg1 - 100.0%
flg2 - 100.0%
flg3 - 100.0%
totpayment - 0.0%
paydate - 0.0%

In [8]:
for col in ext_data.columns:
    pct_missing = np.mean(ext_data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

ID1 - 0.0%
comp - 0.0%
linknumber - 0.0%
casenumber - 0.0%
dateplaced - 0.0%
originalbal - 0.0%
currentbal - 0.0%
acPIF - 0.0%
dofb - 0.0%
homephone - 0.0%
workphone - 0.0%
accountcat - 0.0%
nocontacts - 0.0%
cosigner - 0.0%
insurance - 0.0%
zipcode - 0.0%
lastpayment - 0.0%
servicedate - 0.0%
clnt - 0.0%
groupcode - 0.0%
score1 - 0.0%
score2 - 0.0%
score3 - 0.0%
pattype - 100.0%
fintype - 100.0%
priorinspaymt - 0.0%
priorpatpaymt - 0.0%
recovperc - 0.0%
lastname - 100.0%
firstname - 100.0%
add1 - 0.0%
city - 0.0%
state - 0.0%
zip - 0.0%
SSN - 16.0%
TotNetBal - 0.0%
payment - 0.0%
usrid - 0.0%
flg1 - 100.0%
flg2 - 100.0%
flg3 - 100.0%
totpayment - 0.0%
paydate - 0.0%
T#Linked - 0.0%
T#Open - 0.0%
T#PIF - 0.0%
TPlAct - 0.0%
TPyAct - 0.0%
HasHom - 0.0%
HasWrk - 0.0%
HasCel - 0.0%
HasOth - 0.0%
HasEml - 0.0%
RLTrn - 0.0%
OLTrn - 0.0%

In [111]:
data1=data.merge(ext_data, left_on='ID1',right_on='ID1',how='outer', indicator=True,suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)').query('_merge == "left_only"').drop(['_merge'],axis=1)

In [112]:
new_data=pd.concat([ext_data,data1])

In [113]:
cols_to_drop = ['pattype','fintype','lastname','firstname','flg1','flg2','flg3','zipcode','score1','score2','usrid','homephone','workphone','T#PIF','insurance','TPlAct','TPyAct','OLTrn']
final_data = new_data.drop(cols_to_drop, axis=1)

In [118]:

print(final_data)

final_data = final_data.astype({"comp":np.int64,"linknumber":np.int64,"casenumber":np.int64,"dateplaced":np.int64,"acPIF":np.int64,"dofb":np.int64,"accountcat":np.int64,"nocontacts":np.int64,"cosigner":np.int64,"lastpayment":np.int64,"servicedate":np.int64,"paydate":np.int64,"clnt":np.int64,"groupcode":np.int64,"score3":np.int64,"priorinspaymt":np.int64,"priorpatpaymt":np.int64,"recovperc":np.int64})
final_data.info()

               ID1  comp  linknumber  casenumber dateplaced  originalbal  \
0       1192001170     1   200570567   192001170 2019-07-19       148.60
1       1192001171     1   192001171   192001171 2019-07-19        27.36
2       1192001172     1   200910763   192001172 2019-07-19       444.45
3       1192001173     1   192001173   192001173 2019-07-19       155.00
4       1192001174     1   192420430   192001174 2019-07-19        43.00
...            ...   ...         ...         ...        ...          ...
254027  1193650455     1   193650455   193650455 2019-12-31       908.56
254059  1200660862     1   200660862   200660862 2005-11-04        28.75
254060  1201550564     1   201550564   201550564 2006-10-16       140.00
254061  1201550632     1   201550632   201550632 2006-07-07       500.00
254062  1202050528     1   202050528   202050528 2005-11-04       500.00

        currentbal  acPIF      dofb  accountcat  ...  totpayment   paydate  \
0           148.60      0  19540916           1  ...      375.00  20150205
1            27.36      0  19921217           1  ...       27.04  20171030
2           444.45      0  19760623           1  ...        0.00         0
3           155.00      0  19000101           1  ...        0.00         0
4            43.00      0  19940910           1  ...        0.00         0
...            ...    ...       ...         ...  ...         ...       ...
254027      908.56      0  19000101           3  ...        0.00         0
254059        0.00      1  19000101           1  ...       28.75  20200317
254060       39.47      0  19000101           1  ...       22.00  20200604
254061      258.00      0  19000101           1  ...      242.00  20200604
254062      492.42      0  19000101           1  ...        7.58  20200723

        T#Linked  T#Open  HasHom  HasWrk  HasCel  HasOth  HasEml     RLTrn
0           13.0      13     0.0     0.0     0.0     0.0     0.0  03/20/19
1            2.0             0.0     0.0     0.0     0.0     0.0  01/31/19
2            2.0             0.0     0.0     0.0     0.0     0.0  04/16/19
3            1.0             0.0     0.0     0.0     0.0     0.0  02/14/19
4            5.0       5     1.0     0.0     0.0     0.0     0.0  01/15/19
...          ...     ...     ...     ...     ...     ...     ...       ...
254027       NaN     NaN     NaN     NaN     NaN     NaN     NaN       NaN
254059       NaN     NaN     NaN     NaN     NaN     NaN     NaN       NaN
254060       NaN     NaN     NaN     NaN     NaN     NaN     NaN       NaN
254061       NaN     NaN     NaN     NaN     NaN     NaN     NaN       NaN
254062       NaN     NaN     NaN     NaN     NaN     NaN     NaN       NaN

[429523 rows x 37 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 429523 entries, 0 to 254062
Data columns (total 37 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID1            429523 non-null  int64
 1   comp           429523 non-null  int64
 2   linknumber     429523 non-null  int64
 3   casenumber     429523 non-null  int64
 4   dateplaced     429523 non-null  int64
 5   originalbal    429523 non-null  float64
 6   currentbal     429523 non-null  float64
 7   acPIF          429523 non-null  int64
 8   dofb           429523 non-null  int64
 9   accountcat     429523 non-null  int64
 10  nocontacts     429523 non-null  int64
 11  cosigner       429523 non-null  int64
 12  lastpayment    429523 non-null  int64
 13  servicedate    429523 non-null  int64
 14  clnt           429523 non-null  int64
 15  groupcode      429523 non-null  int64
 16  score3         429523 non-null  int64
 17  priorinspaymt  429523 non-null  int64
 18  priorpatpaymt  429523 non-null  int64
 19  recovperc      429523 non-null  int64
 20  add1           429115 non-null  object
 21  city           429085 non-null  object
 22  state          429144 non-null  object
 23  zip            429186 non-null  object
 24  SSN            358517 non-null  float64
 25  TotNetBal      429523 non-null  float64
 26  payment        429523 non-null  float64
 27  totpayment     429523 non-null  float64
 28  paydate        429523 non-null  int64
 29  T#Linked       408400 non-null  float64
 30  T#Open         408400 non-null  object
 31  HasHom         408400 non-null  float64
 32  HasWrk         408400 non-null  float64
 33  HasCel         408400 non-null  float64
 34  HasOth         408400 non-null  float64
 35  HasEml         408400 non-null  float64
 36  RLTrn          408400 non-null  object
dtypes: float64(12), int64(19), object(6)
memory usage: 124.5+ MB

In [116]:
final_data['dateplaced']=pd.to_datetime(final_data['dateplaced'].astype(str), format='%Y%m%d')
final_data['dofb']=final_data['dofb'].replace(0, 19000101)

In [98]:
final_data['dofb'] = final_data['dofb'].apply(str)

In [99]:
searchfor = ['0000']
final_data["TrueFalsedofb"] = final_data['dofb'].apply(lambda x: 1 if any(i in x for i in searchfor) else 0)

In [100]:
final_data["TrueFalsedofb"].sum()   ### DOFB which are wrong

1641

In [101]:
final_data['dofb']=pd.to_datetime(final_data['dofb'], format='%Y/%m/%d',errors ="coerce")

In [102]:
final_data['paydate']=final_data['paydate'].replace(0, 19000101)
final_data['paydate']=pd.to_datetime(final_data['paydate'].astype(str), format='%Y%m%d')

In [103]:
final_data['lastpayment']=final_data['lastpayment'].replace(0, 10100)
final_data['servicedate']=final_data['servicedate'].replace(0, 10100)

In [104]:
#add leading zeroes
final_data['lastpayment'] = final_data['lastpayment'].apply(lambda x: '{0:0>6}'.format(x))
final_data['servicedate'] = final_data['servicedate'].apply(lambda x: '{0:0>6}'.format(x))

In [105]:
final_data['lastpayment']=pd.to_datetime(final_data['lastpayment'].astype(str), format='%m%d%y')
final_data['servicedate']=pd.to_datetime(final_data['servicedate'].astype(str), format='%m%d%y')

In [106]:
final_data['SSN'] = final_data['SSN'].fillna(0)
final_data['zip'] = final_data['zip'].fillna(0)

In [107]:
final_data['RLTrn'].replace('\/', '', regex=True, inplace=True)
final_data['RLTrn']=pd.to_datetime(final_data['RLTrn'].astype(str), format='%m%d%y')

In [108]:
final_data.head()

,ID1,comp,linknumber,casenumber,dateplaced,originalbal,currentbal,acPIF,dofb,accountcat,...,paydate,T#Linked,T#Open,HasHom,HasWrk,HasCel,HasOth,HasEml,RLTrn,TrueFalsedofb
0,1192001170,1,200570567,192001170,2019-07-19,148.60,148.60,0,1954-09-16,1,...,2015-02-05,13.0,13,0.0,0.0,0.0,0.0,0.0,2019-03-20,0
1,1192001171,1,192001171,192001171,2019-07-19,27.36,27.36,0,1992-12-17,1,...,2017-10-30,2.0,,0.0,0.0,0.0,0.0,0.0,2019-01-31,0
2,1192001172,1,200910763,192001172,2019-07-19,444.45,444.45,0,1976-06-23,1,...,1900-01-01,2.0,,0.0,0.0,0.0,0.0,0.0,2019-04-16,0
3,1192001173,1,192001173,192001173,2019-07-19,155.00,155.00,0,1900-01-01,1,...,1900-01-01,1.0,,0.0,0.0,0.0,0.0,0.0,2019-02-14,0
4,1192001174,1,192420430,192001174,2019-07-19,43.00,43.00,0,1994-09-10,1,...,1900-01-01,5.0,5,1.0,0.0,0.0,0.0,0.0,2019-01-15,0